[Unit]
Description='ST 2110 infra'
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/lab/dev/st2110-automation-bench/server/
ExecStart=/usr/bin/env /usr/local/bin/docker-compose up
ExecStop=/usr/bin/env /usr/local/bin/docker-compose  stop

[Install]
WantedBy=multi-user.target
